In [1]:
import numpy as np
import os
import pandas as pd
import env
from pydataset import data

In [2]:
os.path.exists('env.py')

True

1. Create a function named `get_db_url`. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

In [3]:
def get_db_url(db, env_file=os.path.exists('env.py')):
    '''
    Accepts the string of which schema you want to connect to, grabs user, password, and host
    from your env.py file.
    This function is so you aren't posting your login credientials.
    Please make sure your env file is ALWAYS in your gitignore.
    '''
    if env_file:
        user, password, host = (env.user, env.password, env.host)
        return f'mysql+pymysql://{user}:{password}@{host}/{db}'
    else:
        return 'Please ensure you have proper credentials in your env.py, and check the spelling of the database.'

2. Use your function to obtain a connection to the `employees` database.

3. Once you have successfully run a query:

    a. Intentionally make a typo in the database url. What kind of error message do you see?
    
    b. Intentionally make an error in your SQL query. What does the error message look like?

In [4]:
url = get_db_url("employees")
sql = """
SELECT * FROM employees
"""

employees = pd.read_sql(sql, url)
employees.shape

(300024, 6)

4. Read the `employees` and `titles` tables into two separate DataFrames.

In [5]:
# THESE NEXT ONES ARE COMMENTED OUT BECAUSE I DON'T WANT TO SAVE A LOCAL COPY EVERY TIME.

#df_employees = pd.read_sql('SELECT * FROM employees', url)
#df_titles = pd.read_sql('SELECT * FROM titles', url)

In [6]:
# Creates a local copy in .csv (comma separated valuesheet) form.
#df_employees.to_csv('employees.csv')
#df_titles.to_csv('titles.csv')

In [7]:
df_employees = pd.read_csv('employees.csv')
df_titles = pd.read_csv('titles.csv')
print(df_employees.shape)
print(df_titles.shape)

(300024, 7)
(443308, 5)

5. How many rows and columns do you have in each DataFrame? Is that what you expected?

In [8]:
print(df_employees.info())
print(df_titles.info())
# 7 columns and over 300,000 rows for employees, and 5 columns and over 400,000 rows. 
# The numbers are about what I expected excpet the 100,000 gap, 
# but then I remembered it has records of previous titles an employee has.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  300024 non-null  int64
 1   emp_no      300024 non-null  int64
 2   birth_date  300024 non-null  object
 3   first_name  300024 non-null  object
 4   last_name   300024 non-null  object
 5   gender      300024 non-null  object
 6   hire_date   300024 non-null  object
dtypes: int64(2), object(5)
memory usage: 16.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443308 entries, 0 to 443307
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  443308 non-null  int64
 1   emp_no      443308 non-null  int64
 2   title       443308 non-null  object
 3   from_date   443308 non-null  object
 4   to_date     443308 non-null  object
dtypes: int64(2), object(3)
memory usage: 16.9+ MB
None

6. Display the summary statistics for each DataFrame.

In [9]:
print(df_employees.describe(include = 'all'))
print(df_titles.describe(include = 'all'))

           Unnamed: 0         emp_no  birth_date first_name last_name  gender  \
count   300024.000000  300024.000000      300024     300024    300024  300024
unique            NaN            NaN        4750       1275      1637       2
top               NaN            NaN  1952-03-08     Shahab      Baba       M
freq              NaN            NaN          95        295       226  179973
mean    150011.500000  253321.763392         NaN        NaN       NaN     NaN
std      86609.612919  161828.235540         NaN        NaN       NaN     NaN
min          0.000000   10001.000000         NaN        NaN       NaN     NaN
25%      75005.750000   85006.750000         NaN        NaN       NaN     NaN
50%     150011.500000  249987.500000         NaN        NaN       NaN     NaN
75%     225017.250000  424993.250000         NaN        NaN       NaN     NaN
max     300023.000000  499999.000000         NaN        NaN       NaN     NaN

         hire_date
count       300024
unique        5434
top     1985-06-20
freq           132
mean           NaN
std            NaN
min            NaN
25%            NaN
50%            NaN
75%            NaN
max            NaN
           Unnamed: 0         emp_no     title   from_date     to_date
count   443308.000000  443308.000000    443308      443308      443308
unique            NaN            NaN         7        6393        5888
top               NaN            NaN  Engineer  1998-10-25  9999-01-01
freq              NaN            NaN    115003         132      240124
mean    221653.500000  253075.034430       NaN         NaN         NaN
std     127972.140904  161853.292613       NaN         NaN         NaN
min          0.000000   10001.000000       NaN         NaN         NaN
25%     110826.750000   84855.750000       NaN         NaN         NaN
50%     221653.500000  249847.500000       NaN         NaN         NaN
75%     332480.250000  424891.250000       NaN         NaN         NaN
max     443307.000000  499999.000000       NaN         NaN         NaN


7. How many unique titles are in the `titles` DataFrame?

In [18]:
len(df_titles['title'].unique())

7


8. What is the oldest date in the `to_date` column?

In [20]:
df_titles['to_date'].min()

'1985-03-01'


9. What is the most recent date in the `to_date` column?